<% include ../partials/header %>

<% if (currentUser && currentUser.isAdmin){ %>
    <h2>Admin</h2>
<% } %>
 
    <header class="jumbotron"> 
        <div class="container"> 
            <h1>Welcome to YelpCamp!</h1>
            <p>
                Hand pick campground selections by people 
            </p>
            <p>
                <a class= "btn btn-primary btn-lg" href="/campgrounds/new">Add new campgrounds</a>
            </p>
            <% if(noCampground) {%>
                
            <% }else{ %>
            <p>
                <form action="/campgrounds" id="demo" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="search" name="search" class="form-control", placeholder="campground search..."> 
                        <input type="submit" class="btn btn-default" value="Search">
                    </div>
                </form>
            </p>
            <% } %>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% if(noCampground){ %>
            <div class=col-md-12> 
                <h3><%= noCampground %></h3>
                <p>
                    <form action="/campgrounds" method="GET" class="form-inline">
                        <div class="form-group">
                            <input type="search" name="search" class="form-control", placeholder="campground search..."> 
                        <input type="submit" class="btn btn-default" value="Search">
                        </div>
                    </form>
                </p>
            </div>
        <% } %>
            
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=campground.image %>">
                    <div class="caption">
                        <h4>
                            <%= campground.name %>
                        </h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary">More Info</a> 
                    </p>
                </div>
            </div>
        <% }) %>
   </div>
        


<% include ../partials/footer %>